<form action="<%= index_output_url %>">
    <section class="py-5 text-center container fst-italic">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Ввод числа </h1>
                <p class="lead text-muted"> Написать программу, определяющую, сколько из чисел в диапазоне от 0 до n (n вводится с клавиатуры), сами являясь палиндромами, при возведении в квадрат, образуют палиндромы. </p>
                <div class="input-group mb-3">
                    <input type="number" class="form-control" name="InputNumber" placeholder="Введите число" pattern="[0-9]+" min="0">
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit"> Ввод </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
