<% if @error %>
    <p> <%= @error %> </p>
<% else %>
    <section class="py-5 text-center container fst-italic">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light"> Результат </h1>
                <p class="lead text-muted"> Числа, сами являющиеся палиндромами и при возведении в квадрат, образующие палиндромы (до n, введённого ранее).</p>
                <div class="col-12 fs-4">
                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th scope="col"> Число </th>
                                <th scope="col"> Квадрат числа </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @result.each do |number| %>
                                <tr>
                                    <th scope="row"> <%= number %> </th>
                                    <td> <%= number**2 %> </td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                    <span class="fs-3"> <%= link_to "Назад к вводу числа", root_path %> </span>
                </div>
            </div>
        </div>
    </section>
<% end %>